p {
	color: black;
	font-weight: bold;
	text-align: center;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
body {
	background-color: #ececec;
}
a:link {
	color: #00acc1;
}
a:visited {
	color: 
}
#text {
	background-color: #ffffff;
	width: 70%;
	hight: 110%
	margin-left: 15%;
	box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
